# **List**

In [1]:
#Creating a List
my_list = [55, 67, 78, 91, 98]

#Adding an element to the list

my_list.append(116)
print("New Update set", my_list)

New Update set [55, 67, 78, 91, 98, 116]

In [3]:
# Removing an element

my_list.remove(98)
print("New Update set", my_list)

New Update set [55, 67, 78, 91, 116]

In [5]:
# Modifying an Element

my_list[2]=87
print("New Update set", my_list)

New Update set [55, 67, 87, 91, 116]

# **Dictionary**

In [8]:
# Creating a Dictionary

my_dist= {'name':'Niron', 'age':'29', 'City':'Mumbai'}
print(my_dist)

{'name': 'Niron', 'age': '29', 'City': 'Mumbai'}

In [9]:
# Adding

my_dist['Gender']='Male'
print("Update Dictionary" ,my_dist)

Update Dictionary {'name': 'Niron', 'age': '29', 'City': 'Mumbai', 'Gender': 'Male'}

In [11]:
# Removing

del my_dist['City']
print("Update Dictionary" ,my_dist)

Update Dictionary {'name': 'Niron', 'age': '29', 'Gender': 'Male'}

In [12]:
# Modifying

my_dist['age']='30'
print("Update Dictionary" ,my_dist)

Update Dictionary {'name': 'Niron', 'age': '30', 'Gender': 'Male'}

# **Set**

In [14]:
# Creating a Set

my_set= {1,2,3,4,5,}
print("Set", my_set)

Set {1, 2, 3, 4, 5}

In [15]:
# Adding

my_set.add(67)
print("Update Set", my_set)

Update Set {1, 2, 3, 4, 5, 67}

In [16]:
# Removing

my_set.remove(5)
print("Update Set", my_set)

Update Set {1, 2, 3, 4, 67}

In [19]:
# Modifying

my_set.discard(4)
my_set.add(19)

print("Update Set", my_set)

Update Set {1, 2, 3, 19, 67}